html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  box-sizing: border-box;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  margin: 25px;
  padding: 25px;
}

embed {
  margin: 3% 0;
}

.col-centered {
  margin: 0 auto;
}

.dropdown-menu {
  margin-top: 10px;
}

#transcriptions {
  padding: 3.5%;
}

#transcription {
  display: block;
  margin: 3% auto;
}

#transcription-content {
  margin: auto;
  display: block;
}

#author {
  margin-bottom: 10px;
}

.tag, .tag-nohover {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.3);
  margin: 2px;
}

.tag:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  flex: 1;
}

.img-cover {
  object-fit: cover;
}

.transcription {
  margin: 25px;
  padding: 10px;
  border: 2px solid black;
  background-color: white;
}

.transcription:hover {
  background-color: #d4d4d4;
}
