/**
 * Gray: #393D3F
 * White: #FDFDFF
 * Red: #FF6B6B
 * Light Blue: #62929E
 * Dark Blue: #546A7B
 */

:root {
  --gray: black;
  --white: #FDFDFF;
  --red: #FF6B6B;
  --light-blue: #303030;
  --dark-blue: #474e53;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  box-sizing: border-box;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--gray);
}

p, h1, h2, h3, h4, h5, h6, label, small {
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: underline;
}

a:hover {
  color: var(--dark-blue);
}

.nav-link, .navbar-brand {
  color: var(--white);
  text-decoration: none;
}

.nav-link:hover, .navbar-brand:hover {
  color: var(--dark-blue);
}

main {
  margin: 25px;
  padding: 25px;
}

embed {
  margin: 3% 0;
}

.col-centered {
  margin: 0 auto;
}

.dropdown-menu {
  margin-top: 10px;
}

#navbar {
  background-color: var(--light-blue);
}

#transcriptions {
  padding: 4%;
}

#recentTranscriptions {
  padding: 4%;
}

#transcription {
  display: block;
  margin: 3.5% auto;
}

#transcription-content {
  margin: auto;
  display: block;
}

#author {
  margin-bottom: 10px;
}

.tag, .tag-nohover {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
  display: inline-block;
  background-color: var(--red);
  margin: 2px;
}

.tag:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  flex: 1;
}

.img-cover {
  object-fit: cover;
}

.title {
  margin: 4%;
}

hr {
  background-color: var(--white);
}

.transcription {
  margin: 25px;
  padding: 10px;
  /* border: 2px solid var(--white); */
  background-color: var(--light-blue);
}

.transcription:hover {
  background-color: var(--dark-blue);
}

.centeredText {
  margin-top: 5%;
  text-align: center;
}

#navigation {
  margin: auto;
  justify-content: center;
  align-items: center;
}

.centered {
  margin: auto;
}